snippet head "cpp header" b
/*
Author: Dagui Chen
Email: gobal_chen@163.com
Data: `date +%Y-%m-%d`

\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`
${1:docstring for this}
*/

#include <iostream>
#include <vector>
#include <map>
#include <string>
#include <math>

using namespace std;

int main()
{
$0
}
endsnippet
