snippet #! "Python header" b
#!/usr/bin/env python
# -*- coding: utf-8 -*-
"""
Author: Dagui Chen
Email: goblin_chen@163.com
Data: `date +%Y-%m-%d`

\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`\`
${1:docstring for this}
"""

__author__ = "Dagui Chen"


$0
endsnippet
